<div class="artistHeader">
    <div class="imgMask">
        {{#avatar}}<img src="assets/images/{{src}}" alt="">{{/avatar}}
    </div>

    <div id="artistName">{{{actName}}}</div>
</div>

<div class="tabComponent">

    <div class="tabButtons">
        <a href="#artist/{{id}}?songs" class="tabButton {{#songsSelected}}selected{{/songsSelected}}">Songs</a>
        <a href="#artist/{{id}}?albums" class="tabButton {{#albumsSelected}}selected{{/albumsSelected}}">Albums</a>
        <a href="#artist/{{id}}?about" class="tabButton {{#aboutSelected}}selected{{/aboutSelected}}">About</a>
    </div>

    <div class="tabPanels">
        <div id="songsPanel" class="tabPanel {{#songsSelected}}selected{{/songsSelected}}">
            <div id="recordingsTableContainer"></div>
        </div>

        <div id="albumsPanel" class="tabPanel {{#albumsSelected}}selected{{/albumsSelected}}">
            <div id="playlistsTableContainer"></div>
        </div>

        <div id="aboutPanel" class="tabPanel {{#aboutSelected}}selected{{/aboutSelected}}">

            <div id="artistImagesContainer" class="galleryScroller">
                {{#images}}
                <img src="assets/images/{{src}}" alt="">
                {{/images}}
            </div>

            <table class="infoTable">

                {{#actTown}}
                <tr>
                    <td class="item">Town</td>
                    <td class="itemValue">{{actTown}}</td>
                </tr>
                {{/actTown}}
                {{#actCountry}}
                <tr>
                    <td class="item">Country</td>
                    <td class="itemValue">{{actCountry}}</td>
                </tr>
                {{/actCountry}}
                {{#actNotes}}
                <tr>
                    <td class="item">Notes</td>
                    <td class="itemValue">{{{actNotes}}}</td>
                </tr>
                {{/actNotes}}

                {{#biog}}
                <tr>
                    <td class="item">Biography</td>
                    <td class="itemValue">{{{biog}}}</td>
                </tr>
                {{/biog}}
                {{#label}}
                <tr>
                    <td class="item">Label</td>
                    <td class="itemValue">{{label}}</td>
                </tr>
                {{/label}}
                {{#tags}}
                <tr>
                    <td class="item">tags</td>
                    <td class="itemValue">{{tags}}</td>
                </tr>
                {{/tags}}
                {{#website}}
                <tr>
                    <td class="item">Web site</td>
                    <td class="itemValue">{{website}}</td>
                </tr>
                {{/website}}
            </table>

        </div>
    </div>
</div>