<table id="artists_table" class="benGrid {{^artists}}emptyTable{{/artists}}">
    <thead>
    <tr>
        <td></td>
        <th bengrid-key="actName">Artist</th>
        <th bengrid-key="recordingCount">Recordings</th>
        {{#adminUser}}
        <td class="buttonColumn"></td>
        <td class="buttonColumn"></td>
        {{/adminUser}}
    </tr>
    </thead>
    <tbody>
    {{#artists}}
    <tr id="actID-{{id}}" class="artistRow" data-actid="{{id}}">
        <td><div class="imgMask">{{#avatar}}<img src="assets/images/{{avatar.src}}" />{{/avatar}}</div></td>
        <td data-artistid="{{id}}"><a href="#artist/{{id}}">{{actName}}</a></td>
        <td>{{recordingCount}}</td>
        {{#adminUser}}
        <td><button class="editArtistButton">edit</button></td>
        <td><button class="deleteArtistButton">delete</button></td>
        {{/adminUser}}
    </tr>
    {{/artists}}
    {{^artists}}
    <tr>
        <td {{#adminUser}}colspan="4"{{/adminUser}}{{^adminUser}}colspan="2"{{/adminUser}} class="emptyTable">No artists yet <a href="#audioUpload" class="link">Upload one now</a> </td>
    </tr>
    {{/artists}}
    </tbody>
</table>