<table>
    <tr>
        <td>Name</td>
        <td>{{{actName}}}</td>
    </tr>
    {{#actCountry}}
    <tr>
        <td>Country</td>
        <td>{{actCountry}}</td>
    </tr>
    {{/actCountry}}
    {{#actNotes}}
    <tr>
        <td>Notes</td>
        <td>{{{actNotes}}}</td>
    </tr>
    {{/actNotes}}

    {{#actTown}}
    <tr>
        <td>Town</td>
        <td>{{actTown}}</td>
    </tr>
    {{/actTown}}
    {{#biog}}
    <tr>
        <td>Biography</td>
        <td>{{{biog}}}</td>
    </tr>
    {{/biog}}
    {{#label}}
    <tr>
        <td>Label</td>
        <td>{{label}}</td>
    </tr>
    {{/label}}
    {{#tags}}
    <tr>
        <td>tags</td>
        <td>{{tags}}</td>
    </tr>
    {{/tags}}
    {{#website}}
    <tr>
        <td>Web site</td>
        <td>{{website}}</td>
    </tr>
    {{/website}}
</table>
<div id="artistImagesContainer"></div>