<form id="playlistInfo">

    <div class="buttons clearfix">
        <button class="floatl" id="cancelEditButton">Cancel</button>
        {{#id}}
        <button class="floatr" id="updatePlaylist">Update</button>
        {{/id}}
        {{^id}}
        <button class="floatr" id="addPlaylist">Add</button>
        {{/id}}
    </div>

    {{#id}}
    <input type="hidden" id="playlistID" name="id" value="{{id}}" />
    {{/id}}
    {{#galleryID}}
    <input type="hidden" id="galleryID" name="galleryID" value="{{galleryID}}" />
    <h1>Update Playlist</h1>
    {{/galleryID}}
    {{^galleryID}}
    <h1>Add Playlist</h1>
    {{/galleryID}}

    <div class="formRow">
        <label for="name">Title</label>
        <input type="text" name="name" id="name" maxlength="50" value="{{{name}}}" required />
    </div>
    <div class="formRow">
        <label for="isAlbum">Album</label>
        <input type="checkbox" id="isAlbum" name="isAlbum" {{#isAlbum}} checked="checked"{{/isAlbum}} />
    </div>

    {{#isAlbum}}
    <div class="formRow">
        <label for="actID">Artist</label>
        <select name="actID" id="actID">
            <option value="">Various artists</option>
            {{#artistOptions}}
            <option value="{{id}}">{{{actName}}}</option>
            {{/artistOptions}}
            <option value="new">+ Add new artist</option>
        </select>
    </div>

    <div class="formRow">
        <label for="yearPublished">Year published</label>
        <input type="text" name="yearPublished" id="yearPublished" maxlength="50" value="{{yearPublished}}" />
    </div>

    <div class="formRow">
        <label for="label">Label</label>
        <input type="text" name="label" id="label" maxlength="50" value="{{label}}" />
    </div>
    {{/isAlbum}}

    <div class="formRow">
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" cols="30" rows="10" >{{{notes}}}</textarea>
    </div>
</form>
<div id="playlistGalleryContainer" class="gallery"></div>
