<table id="playlists_table" class="benGrid {{^playlists}}emptyTable{{/playlists}}">
    <thead>
    <tr>
        <th bengrid-key="audioFile">List</th>
        {{^omitArtistColumn}}
        <th bengrid-key="actName">Artist</th>
        {{/omitArtistColumn}}
        <th bengrid-key="actName">Length</th>
        {{#adminUser}}
        <td class="buttonColumn"></td>
        <td class="buttonColumn"></td>
        {{/adminUser}}
    </tr>
    </thead>
    <tbody class="ui-sortable">
    {{#playlists}}
    <tr id="playlistID-{{id}}" class="playlistRow" data-playlistid="{{id}}">
        <td><a href="#playlist/{{id}}">{{{name}}}</a></td>
        {{^omitArtistColumn}}
        <td data-artistid="{{actID}}"><a href="#artist/{{actID}}">
            {{#actName}}{{actName}}{{/actName}}
            {{^actName}}Various Artists{{/actName}}
        </a></td>
        {{/omitArtistColumn}}
        <td>{{playlistLength}}</td>
        {{#adminUser}}
        <td><button class="editPlaylistButton">edit</button></td>
        <td><button class="deletePlaylistButton">delete</button></td>
        {{/adminUser}}
    </tr>
    {{/playlists}}
    {{^playlists}}
    <tr>
        <td {{#adminUser}}colspan="5"{{/adminUser}}{{#adminUser}}colspan="3"{{/adminUser}} class="emptyTable">No playlists yet
        <a href="#playlist/add" class="link">Add one now</a>
        </td>
    </tr>
    {{/playlists}}
    </tbody>
</table>