<table id="trackList_table" class="benGrid {{^trackList}}emptyTable{{/trackList}}">
    <thead>
    <tr>
        <th></th>
        <th bengrid-key="audioFile">Title</th>
        <th bengrid-key="actName">Artist</th>
        {{#adminUser}}
        <th></th>
        {{/adminUser}}
    </tr>
    </thead>
    <tbody>
    {{#trackList}}
    <tr id="recordingId-{{id}}" class="recordingRow {{#currentlyPlaying}}nowPlaying{{/currentlyPlaying}}" data-recordingid="{{id}}">
        <td>
            {{#currentlyPlaying}}
            <button class="pauseButton" data-filename="{{audioFile}}.mp3">Pause</button>
            {{/currentlyPlaying}}
            {{^currentlyPlaying}}
            <button class="playButton" data-filename="{{audioFile}}.mp3">Play now</button>
            {{/currentlyPlaying}}
        </td>
        <td><a href="#recording/{{id}}">{{{title}}}</a></td>
        <td data-artistid="{{actID}}"><a href="#artist/{{actID}}">{{{actName}}}</a></td>
        {{#adminUser}}
        <td class="alignr"><button class="removeTrackFromList">Remove</button></td>
        {{/adminUser}}
    </tr>
    {{/trackList}}
    {{^trackList}}
    <tr>
        <td colspan="3" class="emptyTable">Playlist empty
        </td>
    </tr>
    {{/trackList}}
    </tbody>
</table>
