$background: #282828;

$warning-text: orange;

$cta-link-text: #76a01b;

$font-size: 15px;

body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: $background;
    color: white;
    min-width: 320px;
}

body, html, input, select, textarea {
    font-size: $font-size;
}

#notificationContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.75;
    z-index: 100;
    display: none;
    #notificationInner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        p {
            font-size: 18px;
        }
        &.info {
            background: #00008d;
        }
        &.warning {
            background: #8f500f;
        }
        &.error {
            background: #910000;
        }

    }
}

select {
    -webkit-appearance: none;
}

.highlighted {
    background: #FFAA7F;
    color: black;
}

h2 {
    line-height: 2em;
    font-size: 18px;
}
.ui-widget {
    font-size: 1em !important;
}
form {
    margin: 30px 0;
}

span {
    &.warningText {
        font-size: 0.8em;
        color: $warning-text
    }
}

a, .ui-widget-content a {
    &.link {
        color: $cta-link-text;
        text-decoration: underline;
    }
}

button {
    &.ui-widget {
        border: none;
    }
}

input[type=file] {
    font-size: 14px;
}

p {
    margin: 10px 0;
    line-height: 22px;

    strong {
        font-weight: 900;
    }

    &.small {
        font-size: 12px;
    }

    label {
        display: inline-block;
        width: 60px;
        text-align: right;
        vertical-align: top;
        margin-right: 10px;

        &.error {
            display: block;
            width: auto;
            text-align: left;
            color: red;
            margin-left: 79px;
            font-size: 0.8125em;
        }
    }

    &.buttons {
        margin-top: 20px;

        .nextBtn, #step3NextBtn {
            float: right;
        }
    }
    
}

nav {
    padding: 8px;
    text-transform: uppercase;

    a {
        display: inline-block;
        color: #aaaaaa;
        padding: 10px 20px;
        font-size: 16px;

        &:hover {
            background: white;
            color: #333333;
        }
    }
}

#mainContent {
    padding: 20px;
}

.buttonBar {
    display: block;
    text-align: right;
    margin-bottom: 20px;

    button {
        &.cta {
            background-image: none;
            background-color: forestgreen;
        }
    }
}

.addOrEditPanel {

    input, select, textarea {
        width: 70%;
        padding-left: 5px;
    }

    textarea {
        height: 100px;
    }
    p.buttons {
        text-align: right;
    }
}

table.benGrid {

    width: 100%;

    th, td {
        &.rightAlign {
            text-align: right;
        }
    }

    thead {
        th {
            text-transform: uppercase;
            text-align: left;
            color: #898989;
            padding: 5px;
            cursor: pointer;
            font-size: 12px;

            &:hover {
                background: #585858;
            }
        }

        td {
            &.buttonColumn {
                width: 45px
            }
        }
    }

    tbody {

        tr {
            color: #E1E1E1;
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;

            &.loadError {
                background: #852C09;
            }

            &:hover{
                background: #D4D4D4;
                color: #1E1E1E;
                cursor: pointer;
            }
            &.recordingEditPanel {
                background: #343030;
                color: #cccccc;
                border: 1px solid #666;

                td {
                    padding: 10px 30px;

                    h2 {
                        font-weight: 400;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 6px;
                font-size: 0.9em;

                .imgMask {
                    margin: auto;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 25px;
                    text-align: center;
                    img {
                        height: 50px;
                    }
                }

                .nowPlaying {
                    background: green;
                }
                &.emptyTable {
                    text-align: center;
                    vertical-align: middle;
                    color: $warning-text;
                    border: 1px solid $warning-text;
                    height: 40px;
                }
            }
        }
    }
}