$background: #081108;
$fieldForeground: #552e19;
$labelForeground: #fff;
$headingColor: #fff;
$background-header-footer: rgb(0, 0, 0);
$fieldBgColor: #d1cfc3;
$success-background: #298d12;
$success-foreground: #b3c5ff;
$warning-text: orange;

$info-background: #001d07;
$info-foreground: white;
$warning-background: orange;
$warning-foreground: black;
$error-background: red;
$error-foreground: white;
$overlay-background: rgb(5, 33, 5);

$cta-link-text: #76a01b;

$font-size: 15px;


$upholstery-pattern: radial-gradient(hsl(136, 100%, 5%) 4%, hsl(119, 100%, 2%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(134, 100%, 5%) 4%, hsl(134, 100%, 3%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(135, 100%, 7%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(132, 100%, 7%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsl(117, 100%, 9%) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsl(116, 100%, 7%) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(120, 100%, 8%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(119, 100%, 5%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;

body, html, input, select, textarea {
    font-size: $font-size;
    background-color: $fieldBgColor;
    color: $labelForeground;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background: black;
    color: $labelForeground;
    min-width: 320px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
h1 {
    display: block;
    padding: 10px;
    color: $headingColor;
    font-size: 20px;
}
p {
    &.centered {
        text-align: center;
    }
    &.short {
        padding-top: 10px;
    }
    &.tall {
        padding-top: 40px;
    }
    &.sidePadding {
        padding: 0 20px;
    }
}

.highlighted {
    background: $success-background;
    color: $success-foreground;
}

h2 {
    line-height: 2em;
}
.ui-widget {
    font-size: 1em !important;
}
span {

    &.label {
        width: 100px;
        display: inline-block;
        font-weight:800;
    }
    &.warningText {
        font-size: 0.8em;
        color: $warning-text
    }
}

a, .ui-widget-content a {
    &.link {
        color: $cta-link-text;
        text-decoration: underline;
    }
}

.ui-sortable-helper {
    display: table;
}

button {
    &.ui-widget {
        border: none;
    }
}

span.matchButtonStyle {
    display: inline-block;
    text-align: center;
    width: 30px;
}

input[type=file] {
    font-size: 14px;
}

strong {
    font-weight: 900;
}
smallFont {
    font-size: 12px;
}

label {
    display: inline-block;
    width: 60px;
    text-align: right;
    vertical-align: top;
    margin-right: 10px;

    &.error {
        display: block;
        width: auto;
        text-align: left;
        color: red;
        margin-left: 79px;
        font-size: 0.8125em;
    }
}
a {
    &:link, &:visited {
        text-decoration: none;
        color: #dddddd;
        &:hover {
            text-decoration: underline;
            color: white;
        }
    }
}

div {
    &.tall {
        padding-top: 100px;
    }
    &.medium {
        padding-top: 75px;
    }
    &.short {
        padding-top: 50px;
    }
}

select {
    -webkit-appearance: none;
}

.hidden {
    display:none;
}

.uploadFileButton {
    position: relative;
    width: 100%;
    text-align: center;
    button {
        position: absolute;
        top: 4px;
        width: 300px;
        height: 40px;
    }
    #uploadFile {
        opacity: 0;
        background: red;
        height: 40px;
        cursor: pointer;
    }
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}
.alignr {
    text-align: right;
}
.contextMenu {
    position: absolute;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    div {
        background: #272727;
        color: #b4b4b4;
        .listOption {
            padding: 10px;
            &:hover {
                background: green;
                color: white;
            }
        }
    }
}

.fullscreenContainer {
    position: fixed;
    top: 0;

    &#notificationContainer {
        z-index: 100;

        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 15px;

            .messageBox {
                flex: none;
                max-width: 70%;
            }

            div{
                flex: none;
                display: block;
                font-size: 18px;
            }
            &.info {
                background: $info-background;
                color: $info-foreground;
            }
            &.warning {
                background: $warning-background;
                color: $warning-foreground;
            }
            &.error {
                background: $error-background;
                color: $error-foreground;
            }

        }
    }
    &#overlayContainer {
        z-index: 50;
        background-color: $overlay-background;

        button.closeButton {
            position: fixed;
            right: 0;
            top: 0;
        }
        .inner {

            height: 100%;
            padding: 8px;

            div:not(.steps) {
                display: block;
                font-size: 18px;
                .breadcrumbs {
                    font-size: 13px;
                    color: #b6b6b6;
                    box-sizing: border-box;
                    margin-bottom: 40px;
                    span {
                        font-weight: 300;
                        font-size: 13px;
                        padding: 0 2px;
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                        &.current {
                            color: white;
                            font-weight: 600;
                            &:hover {
                                text-decoration: none;
                                cursor: auto;
                            }
                        }
                    }
                }
            }
            &.info {
                background: $info-background;
                color: $info-foreground;
            }
            &.warning {
                background: $warning-background;
                color: $warning-foreground;
            }
            &.error {
                background: $error-background;
                color: $error-foreground;
            }
        }
    }

    height: 100vh;
    width: 100vw;
    opacity: 1;
    display: none;
}

#navContainer {
    box-sizing: border-box;
    padding: 3px 5px;
    height: 40px;
    z-index: 10;
    background-color: $background-header-footer;
    a {
        display: inline-block;
        color: #848484;
        padding: 12px 6px;
        font-size: 16px;

        &:hover {
            color: white;
            background: $upholstery-pattern;
        }
        &.selected {
            color: white;
            background: $upholstery-pattern;
            background-size: 100px 100px;
        }
    }

    button {
        position: relative;
        top: -2px;
    }
}

#mainContent {
    box-sizing: border-box;
    overflow: auto;
    z-index: 5;
    height: calc(100% - 143px);
    background: $upholstery-pattern;
    background-size: 100px 100px;
}

#playerContainer {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    background: $background-header-footer;

    #playerPanel {
        box-sizing: border-box;
        vertical-align: middle;
        line-height: 30px;
        padding: 6px 0;

        #buttons {
            display: inline-block;
        }

        #titleAndActText {
            padding-left: 10px;
            display: inline-block;
            line-height: 19px;
            padding-top: 7px;
            span#byline {
                font-weight: 300;
                color: grey;
                padding-left: 5px;
            }
        }

        #progressBar {
            box-sizing: border-box;
            display: inline-block;
            margin: 15px 0;
            height: 10px;
            min-width: 300px;
            width: 100%;
            background-color: #2b2b2b;
            text-align: left;
            position: relative;

            #mercury {
                height: 100%;
                width: 0;
                background: #39c419;
                text-align: right;
                position: relative;
                #playHeadContainer {
                    position: relative;
                    #playHead {
                        display: none;
                    }
                }
            }


            &:hover {
                #mercury {
                    background: #4eff19;
                    height: 130%;
                    position: relative;
                    top: -25%;
                    #playHeadContainer {
                        position: relative;
                        #playHead {
                            position: absolute;
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            //border-radius: 15px;
                            //left: 10px;
                            top: -5px;
                            background: #fffff7;
                        }
                    }
                }
            }
        }
    }
}

#queueContainer {
    background: #424242;
    padding: 3px;
}


.buttons {
    margin: 10px 0;
    padding: 10px;
}

.buttonBar {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px;

    button {
        &.cta {
            background-image: none;
            background-color: $success-background;
        }
    }
}

.formRow {
    padding: 5px 0;
    &.buttons {
        text-align: right;
    }
    label, span.label {
        width: 20%;
        font-size: 15px;
        display: inline-block;
    }
    input, select, textarea {
        width: 70%;
        padding: 5px;
        border: none;
        color: $fieldForeground;
    }
    textarea {
        height: 100px;
    }

}

#gallery {
    .imagesButtonBar {
        margin: 20px;
        display: block;
        position: relative;
        text-align: center;
        #artistImageUpload {
            width: 123px;
            height: 29px;
            opacity: 0;
            position: absolute;
        }
    }

    #imagesContainer {
        display: inline-block;
        width: 70%;
        height: 200px;
        overflow-y: auto;
        background-color: $fieldBgColor;
        #galleryImages {
            color: $fieldForeground;
            padding: 5px;
            .galleryImage {
                width: 60px;
                height: 60px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                margin: 10px;
                border: 5px solid transparent;
                &.selected {
                    border-color: red;
                    opacity: .5;
                }
            }
        }
    }
}

#artistImagesContainer {
    vertical-align: top;
    img {
        vertical-align: top;
        width: 40%;
    }
}

table.benGrid {

    width: 100%;
    table-layout: fixed;

    &:not(.emptyTable) {
        tr {
            border-bottom: 1px solid #4A4040;
        }

        th, td {
            &.rightAlign {
                text-align: right;
            }
            &.buttonColumn {
                width: 45px
            }
            &.emptyCollection {
                text-align: center;
            }
        }

        thead {
            th {
                text-transform: uppercase;
                text-align: left;
                color: #898989;
                padding: 5px;
                cursor: pointer;
                font-size: 12px;

                &:hover {
                    background: #585858;
                }
            }
        }

        tbody {

            tr {
                color: #E1E1E1;

                //-webkit-//ition: all 0.25s ease;
                //-moz-transition: all 0.25s ease;
                //-o-transition: all 0.25s ease;
                //transition: all 0.25s ease;

                &.loadError {
                    background: #852C09;
                }

                &.selectedItem {
                    background: rgba(0, 52, 0, 0.77);
                }

                &:hover {
                    background: #195613;
                    color: #ffffff;
                    cursor: pointer;
                }

                td {
                    vertical-align: middle;
                    padding: 6px;
                    font-size: 0.9em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    .imgMask {
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        border-radius: 25px;
                        text-align: center;
                        img {
                            height: 50px;
                        }
                    }

                    .nowPlaying {
                        background: green;
                    }
                }
            }
        }
    }
    &.emptyTable {
        thead {
            display: none;
        }
        td {
            text-align: center;
            vertical-align: middle;
            color: $warning-text;
            height: 40px;
        }
    }
}

#playlistNotes {
    margin: 10px;
}

.playlistImages {
    margin: 5px;
    img {
        height: 150px;
        margin: 5px;
    }
}