$background: #303030;
$background-header-footer: rgb(0, 0, 0);
$success-background: #298d12;
$success-foreground: #b3c5ff;
$warning-text: orange;

$info-background: #565656;
$info-foreground: white;
$warning-background: orange;
$warning-foreground: black;
$error-background: red;
$error-foreground: white;

$cta-link-text: #76a01b;

$font-size: 15px;


body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: $background;
    color: white;
    min-width: 320px;
}

body, html, input, select, textarea {
    font-size: $font-size;
}

#notificationContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    z-index: 100;
    display: none;

    #notificationInner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
            font-size: 18px;
            text-align: center;
        }
        &.info {
            background: $info-background;
            color: $info-foreground;
        }
        &.warning {
            background: $warning-background;
            color: $warning-foreground;
        }
        &.error {
            background: $error-background;
            color: $error-foreground;
        }

    }
}

#navContainer {
    box-sizing: border-box;
    padding: 0 5px;
    height: 40px;
    width: 100vw;
    text-transform: uppercase;
    z-index: 10;
    background-color: $background-header-footer;
    a {
        display: inline-block;
        color: #848484;
        padding: 12px;
        font-size: 16px;

        &:hover {
            color: white;
            background: #222222;
        }
        &.selected {
            color: white;
            background: $background;
        }
    }

    button {
        position: relative;
        top: -2px;
    }
}

#mainContent {
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    z-index: 5;
    height: calc(100% - 133px);
    background-color: $background;
}


#playerContainer {
    box-sizing: border-box;
    padding: 0;
    height: 83px;
    width: 100%;
    background: $background-header-footer;

    #playerPanel {
        #recInfo {
            font-size: 11px;
            margin: 5px 0;
        }
    }
}

#queueContainer {
    background: #424242;
    padding: 3px;
}
select {
    -webkit-appearance: none;
}

.highlighted {
    background: $success-background;
    color: $success-foreground;
}

h2 {
    line-height: 2em;
    font-size: 18px;
}
.ui-widget {
    font-size: 1em !important;
}
form {
    margin: 30px 0;
}

span {
    &.warningText {
        font-size: 0.8em;
        color: $warning-text
    }
}

a, .ui-widget-content a {
    &.link {
        color: $cta-link-text;
        text-decoration: underline;
    }
}

.ui-sortable-helper {
    display: table;
}

button {
    &.ui-widget {
        border: none;
    }
}

input[type=file] {
    font-size: 14px;
}

p {
    margin: 10px 0;
    line-height: 22px;

    strong {
        font-weight: 900;
    }

    &.small {
        font-size: 12px;
    }

    label {
        display: inline-block;
        width: 60px;
        text-align: right;
        vertical-align: top;
        margin-right: 10px;

        &.error {
            display: block;
            width: auto;
            text-align: left;
            color: red;
            margin-left: 79px;
            font-size: 0.8125em;
        }
    }

    &.buttons {
        margin-top: 20px;

        .nextBtn, #step3NextBtn {
            float: right;
        }
    }
    
}




.buttonBar {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px;

    button {
        &.cta {
            background-image: none;
            background-color: forestgreen;
        }
    }
}

.addOrEditPanel {

    input, select, textarea {
        width: 70%;
        padding-left: 5px;
    }

    textarea {
        height: 100px;
    }
    p.buttons {
        text-align: right;
    }
}

table.benGrid {

    width: 100%;

    tr {
        border-bottom: 1px solid #4A4040;
    }

    th, td {
        &.rightAlign {
            text-align: right;
        }
        &.buttonColumn {
            width: 45px
        }
        &.emptyCollection {
            text-align: center;
        }
    }

    thead {
        th {
            text-transform: uppercase;
            text-align: left;
            color: #898989;
            padding: 5px;
            cursor: pointer;
            font-size: 12px;

            &:hover {
                background: #585858;
            }
        }
    }

    tbody {

        tr {
            color: #E1E1E1;

            //-webkit-//ition: all 0.25s ease;
            //-moz-transition: all 0.25s ease;
            //-o-transition: all 0.25s ease;
            //transition: all 0.25s ease;

            &.loadError {
                background: #852C09;
            }

            &:hover{
                background: #D4D4D4;
                color: #1E1E1E;
                cursor: pointer;
            }
            &.recordingEditPanel {
                background: #343030;
                color: #cccccc;
                border: 1px solid #666;

                td {
                    padding: 10px 30px;

                    h2 {
                        font-weight: 400;
                    }
                }
            }

            td {
                vertical-align: middle;
                padding: 6px;
                font-size: 0.9em;

                .imgMask {
                    margin: auto;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 25px;
                    text-align: center;
                    img {
                        height: 50px;
                    }
                }

                .nowPlaying {
                    background: green;
                }
                &.emptyTable {
                    text-align: center;
                    vertical-align: middle;
                    color: $warning-text;
                    border: 1px solid $warning-text;
                    height: 40px;
                }
            }
        }
    }
}