h1,h2,h3,h4 {
    font-weight: 900;
}

.ui-tabs {
    .ui-tabs-panel {
        h2 {
            font-size: 1.3em;
            line-height: 2.3em;
        }
    }
}

#queueContent {
    table {
        tr {
            td.queueItemPlayPause {
                button {
                    display: none;
                }
            }
            &.currentlyPlaying {
                background: #024500;
                td.queueItemPlayPause {
                    button.queueItemPlayingButton {
                        display: inline-block;
                    }
                    &:hover {
                        button.queueItemPlayingButton {
                            display: none;
                        }
                        button.queueItemPauseButton {
                            display: inline-block;
                        }
                    }
                    span.queuePositionIndex {
                        display: none;
                    }
                }
            }

            &:hover:not(.currentlyPlaying) {
                td.queueItemPlayPause {
                    button.queueItemPlayButton {
                        display: inline-block;
                    }
                    span.queuePositionIndex {
                        display: none;
                    }
                }
            }
        }
    }
}