/* CSS Document */

div.clearfix {
    clear: both;
    margin-bottom: 40px;
}
a:link,
a:visited
{
	color:#eee;
	text-decoration:none;
}
h1 {
    font-weight: normal;
    font-size: 1.75em;
}
a:hover {
	color:grey;
	text-decoration:underline;
}
.hidden {
    display: none;
}
#bg_grad {
	width:100%;
	min-height:80%;
}
#page {
	position:relative;
	width:965px;
	min-height:500px;
	margin: auto;
}
#nav {
	visibility:visible;
	left:73px;
	top:98px;
	z-index:1;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.nav_item {
	position:relative;
	margin:15px 8px;
	font-size:1.1em;
	text-transform:uppercase;
	display:inline-block;
}	
.nav_item a:link, .nav_item a:visited {
	text-decoration:none;
	color: #bbb;
}
.nav_item a:hover {
	color:white;
	text-decoration:underline;
}
.redline {
	position:absolute;
	width:2px;
	height:22px;
	top: -4px;
	left:25px;
	background:url(../images/bg/red_line.png);
}
#main_body {
	padding:10px;
	background:#222222;
	z-index:5;
}

#footer {
	margin:0;
	position:relative;
	text-align:right;
	width:905px;
	clear:both;
	font-size:0.85em;
	padding-top:100px;
    color: grey;
}
.sb-inner { background:#FFFFCC; }
.contentItem {
	float:left;
	border:solid grey 1px;
	padding:15px;
	min-height:1px;
	width:96.5%;
	margin-top: 20px;
	-moz-border-radius:5px;
}
.contentItem_centre {
	float:left;
	text-align:center;
	border:dashed 1px;
	padding:15px;
	min-height:1px;
	width:96.5%;
	margin-top: 20px;
}
.contentItem_centre p {
	font-size: 0.8em;
}
h2 {
	font-size:1.45em;
	text-transform:none;
}
h3 {
	font-size:1.2em;
}
.news_image {
	float:right;
	padding:15px;
	-moz-border-radius:5px;
margin:0 10px 0 0;
border:1px solid grey;
}
.image_caption {
	text-align:center;
	font-size:0.75em;
	color:grey;
}
#page_title {
	padding:5px 3%;
	margin:0 2px;
    float: left;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	font-size:1.8em;
	color:#fff;
}
#pfm {
	text-align:right;
	padding:5px 0;
	margin:0 2px;
	height:25px;
	color:white;
}
/* transparent backgrounds */

#page_title,#pfm{
    background:rgba(0,0,0,0.5);
} /* dark */
/* medium */
.contentItem,
.contentItem_centre,
.artist_Item,
#panel_right img,
.label,
#display_block h2,
.news_image {
    /*background:rgba(255,255,255,0.7);*/
} /* light */

.pfmCell { 
	height:20px;
	float:right;
	padding:2px 5px;
	margin-left:3px;
	font-weight:bold;
	
}
.pfmCell input, .pfmCell select {
	background:#4B4B4B;
	color:white;
	-moz-border-radius:5px;
}
#display_block {
	display:block;
	width:95%;
	clear:both;
	position:relative;
	float:left;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
}
#display_block_inner_left {
	position:relative;
	float:left;
	max-width:65%;
}
#display_block_inner_right {
	position:relative;
	width:30%;
	float:left;
	margin:20px 0 0 40px;
}
#display_block h2 {
	padding:5px 10px 30px;
    font-size: 23px;

}
#display_block h2.featured_artist_name {
    background:none;
    border:none;
}
.date {
	font-size:0.75em;
	color:#999;
	padding:3px 3px 3px 12px;
	margin-bottom:8px;
	background:white;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom:1px solid grey;
	border-right:1px solid grey;
	border-left:1px solid grey;

}

.artist_Item {
	border:dashed 1px;
	padding:15px;
	margin-bottom:15px;
	min-height:100px;
}
.artist_name {
	width:30%;
	float:left;
}
.artist_photo {
	width:40%;
	float:left;
}
h2 .artist_name {
	margin-right:15px;
	text-align:right;
}
img {
	border:0;
}

.float_right {
	float:right;
	margin-left:25px;
}
.float_right {
	float:right;
}
.inline {
	display:inline;
}
.listitem {
	clear:both;
	min-height:1%;
	float:none;
	padding:5px;
}


.label {
	position:relative;
	font-weight: bold;
	float:left;
	width: 16%;
	text-align:right;
	padding:5px;
	text-transform:capitalize;
	min-height:1.5em;
}
.otherRecordings {
    font-weight: bold;
    font-size: 16px;
    padding:5px;
    text-transform:capitalize;
    min-height:1.5em;
}
.field {
	position:relative;
	padding:5px;
	float:left;
	min-height:1.5em;
	width:76%;
}	
.clearboth {
	clear:both;
}
#infobox {
	margin: 20px;
	position:relative;
	padding:20px;
	background:#FFFFCC;
}
#back_button {
	float:left;
}
#panel_left {
	float:left;
	position:relative;
    width: 65%;
}
#panel_right {
	float:right;
	position:relative;
	max-width:40%;
	text-align:right;
}
#panel_right img {
    padding:15px;
    margin-bottom: 18px;
}
.credit {
	display:inline;
	padding:5px;
}
.image_float_L {
	margin: 10px;
	padding: 2px;
	float: left;
}
.image_float_R {
	margin: 10px;
	padding: 2px;
	float: right;
}
.result_img {
	float:left;
	width:120px;
	text-align:center;
}
.result_text {
	float:left;
	width:75%;
}
.red {
	color:#FF0000;
	text-decoration:blink;
}
.comment {
	clear:both;
	background:#FFFFCC;
	margin:20px;
	padding:10px;
	width:800px;
	border: 1px dashed black;
	float:left;
}
.slide {
	display:table;
	width:120px;
	height:120px;
	margin:5px 5px 0 5px;
	background:#DDD7A5;
}
.slide_inner {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.slide_label {
	font-size:0.9em;
	display:block;
	background:#B5AC8D;
	margin: 0 5px 5px 5px;
	padding:3px;
	width:114px;
}
.thumbsheet_cell {
	float:left;
	margin:5px;
}

/* FROM IRBASE */
#admin_nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#admin_nav li {
	margin:0;
}
#admin_nav a {
	display:block;
	color:#660000;
	background-color:#DDD7A5;
	width:11em;
	padding:3px 12px 3px 8px;
	text-decoration:none;
	border-bottom: 1px solid #DC9041;
	font-weight:bold;
}	
#admin_nav a:hover {
	background-color:#B70000;
	color:#FFF;
}
#admin_nav li li a {
	position:relative;
	display:block;
	color:#660000;
	background-color:#FFFFCC;
	width:11em;
	padding:3px 3px 3px 17px;
	text-decoration:none;
	border-bottom: 1px solid #DC9041;
	font-weight:normal;
}	




#col1 {
	margin-top:10px;
	position:relative;
	float:left;

}
#col2 {
	position:relative;
	float:left;
	width:78%;
	min-width:720px;
	padding:10px;
	margin-left:10px;
}
#col2 #page_title {
	background:#DDD7A5;
	color:#660000;
	
}
td {
	text-align:center;
	font-size:0.95em;
	padding:10px;
	vertical-align:top;
}
.enabled_button {
	background:#33CC00;
	font-weight:bold;
	margin:3px;
	font-size:0.9em;
	width:8.5em;
}
.disabled_button {
	font-weight:bold;
	background:#FF0000;
	margin:3px;
	font-size:0.9em;
	width:8.5em;
}
h2 {
	margin:20px;
	margin-left:0;
}

.green_flash {
	font-size: 1.5em;
	color: #336600;
	text-decoration: blink;
	margin:40px 0 10px 40px;
}
.folderName {
	width: 100%;
	height:inherit;
	border: solid 1px #999999;
	float:left;
	background-color: #DDD7A5;
	font-size: 1.2em;
	font-weight: bold;
	color: #660000;
	margin: 10px auto;
	padding: 7px 5px 5px 10px;
}
.cell {
	padding:5px;
}

.imageDetailBox {
	padding: 5px;
	width:98%;
	border:1px dashed black;
	margin-top:20px;
}

.listitem_red {
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	color:#FF0000;
	font-weight:bold;
}
.listbox {
	width:95%;
	padding:10px;
	background:#FFFFFF;
	border: thin solid #999999;
	margin: 10px auto;
}
#text {
	position:relative;
	min-height:70%;
	width:60%;
	float:left;
	padding:20px;
} 
.button {
	float:left;
	padding:5px;
} 
#viewlarge {
	margin:20px auto;
	height:100%;
	width:100%;
	text-align:center;
}
.dummy_button {
	color:#999999;
}
#introText {
	margin:30px;
}
#introText p {
	font-size:0.85em;
}
.comment .label {
	background:none;
}
span.actNameHeading {
    color: #999;
    font-size: 0.85em;
}

span.playlistPosition {
    background: repeat scroll 0 0 #666;
    border: 1px solid black;
    color: white;
    display: inline-block;
    text-align: center;
    width: 30px;
    padding-left:40px;
}
span.playlistPosition:hover {
    background: none repeat scroll 0 0 #ddd;
    color:#999
}

div#byTheSameArtist {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}
div#byTheSameArtist p a {
    color: white;
    font-size: 12px;
    padding: 7px;
    text-align: left;
    margin: 0;
}
div#fb-root {
    margin: 19px;
    background: white;
    width: 500px;
}

table.appearances {
    background: white;
}
table.appearances td {
    text-align: left;
}
.byline {
    font-size: 12px;
}
.playlistYear {
    font-size: 16px;
}
.trackNameLabel {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 8px;
}

#playlistMetaContainer h2, .playlist_Item h2 {
    color: #ddd;
    background: none;
    border: none;
}
#playlistTransportContainer{
}
#playlistTransport {
    background: #222222;
    padding: 10px;
    text-align: center;
}
.transportRow {
    display: inline-block;
}
.transportButtons {
    margin-top: 20px;
}
#trackName {
    display: inline-block;
    margin: 20px 20px 0;
    font-weight: bold;
}
#trackName span.byLine {
    font-size: 0.75em;

}
.sliderRow {
    width: 90%;
    box-sizing: border-box;
}
#trackPosition {
    display: inline-block;
    min-width: 280px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    top: 3px;
}
.ui-slider .ui-slider-range {
    background: red;
}

#slider {
    margin: 10px;
}
.ui-slider-horizontal {
    height: 8px;
}
.ui-slider .ui-slider-handle {
    height: 20px;
    width: 5px;
    padding-left: 10px;
}


.ui-button-text-only .ui-button-text {
    font-size: 20px;
}
.trackButtons {
    position: relative;
}
#playlistTrackList th {
    font-weight: 200;
    color: darkgrey;
    padding: 10px;
    text-align: left;
}
.playlistTrackListItem td {
     text-align: left;
 }
.playlistTrackListItem td span {

}
.playlistTrackListItem .trackIndex {
    display: block;
    width: 2.4em;
    height: 27px;
    text-align: center;
}
#playlistTrackList {
    list-style: none;
    padding-left: 0;
    border-collapse: collapse;
    width: 100%;
}
.playlistTrackListItem {
    margin: 0;
    padding:5px;
}
.playlistTrackListItem.highlighted {
    background: #444;
}
.playlistTrackListItem.highlighted .trackIndex {
    display: none;
}
.playlistTrackListItem.highlighted .trackButtons {
    display: inline-block;
}
.playlistTrackListItem.playing {
    color: red;
}
.playlistTrackListItem.playing .trackIndex {
    display: none;
}
.playlistTrackListItem.playing .trackButtons {
    display: inline-block;
}
.playlistTrackListItem.playing .trackButtons .playTrackBtn {
    display: none;
}
.playlistTrackListItem.playing .trackButtons .pauseTrackBtn {
    display: inline-block;
}
.playlistTrackListItem.loaded {
    background: #212121;
}

.smallButton {
    font-size: .8em !important;
}
.playPauseCol {
    width: 30px;
}
#spinnerContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
#spinner {
    height: 19px;
    width: 57px;
    margin: 12px;
    float: right;
}
#trackTime {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -17px;
    color: grey;
}

.trackArtist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.trackIndex,
.trackNameLabel span,
.trackArtist span {
    position: relative;
    top: 5px;
}