$navBg: #033F15;
$navHoverBg: #AD6C0B;

#nav {
    li {
        background: $navBg;
        text-align: center;
        border-top: 1px dashed #969696;
        a {
            display: block;
            padding: 20px 0;
            font-size: 16px;
            color: white;
        }
    }

    li:hover {
        background: $navHoverBg;
        a {
            color: black;
            font-weight: 900;
        }
    }
} 