<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="/scripts/libs/jquery.js"></script>
    <script src="/scripts/libs/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="/scripts/libs/underscore.js"></script>
    <script src="/scripts/libs/backbone.js"></script>
    <script src="/scripts/libs/mustache.js"></script>
    <script src="/jquery-serializejson/jquery.serializejson.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/backgrid/lib/backgrid.js"></script>
    <script src="/backbone-deep-model/distribution/deep-model.js"></script>


    <!-- models -->
    <script src="/scripts/models/about.js"></script>
  </body>
</html>
